@media (min-width: 768px) {

	/* ContactRegister */

	.div-main-header-register-logo {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.main-title {
		margin: 40px 0;
		width: 150px;
	}

	.h2-register {
		order: 0;
	}

	.container-cnpj-phone {
		display: flex;
		max-width: 960px;
		justify-content: space-between;
		width: 90vw;
	}

	#input-company-cnpj,
	#input-company-phone {
		width: 38vw;
		max-width: 440px;
	}

	#input-company-cnpj {
		margin-right: 20px;
	}

	.button-next-form {
		float: right;
	}

	.container-button-next-form {
		max-width: 960px;
	}

	/* AddressRegister */

	.container-cep-street,
	.container-complement-number,
	.container-neighborhood-city-state {
		display: flex;
		max-width: 960px;
		justify-content: space-between;
		width: 90vw;
	}

	#input-company-cep,
	#input-company-number,
	#input-company-neighborhood {
		margin-right: 20px;
		max-width: 239px;
		width: 20vw;
	}

	#input-company-street,
	#input-company-complement {
		max-width: 653px;
		width: 60vw;
	}

	#input-company-city {
		max-width: 398px;
		width: 40vw;
	}

	.div-company-address-state label {
		margin: 20px;
	}

	#input-company-state {
		margin-left: 20px;
		max-width: 239px;
		width: 15vw;
	}


	/* PasswordRegister */

}
