@media (min-width: 768px) {

	.div-main-header-register-logo {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.main-title {
		margin: 40px 0;
		width: 150px;
	}

	.h2-register {
		order: 0;
	}

	.container-cnpj-phone {
		display: flex;
		max-width: 960px;
		justify-content: space-between;
	}

	#input-company-cnpj,
	#input-company-phone {
		width: 38vw;
		max-width: 440px;
	}

	#input-company-cnpj {
		margin-right: 20px;
	}

	.button-next-form {
		float: right;
	}

	.container-button-next-form {
		width: 960px;
	}

}
