@media (min-width: 667px) {
	.form {
		width: 420px;
	}
}

@media (min-width: 736px) {
	.-cnpj {
		margin: 10px 20px 10px 30px;
	}
}

@media (min-width: 738px) {
	.-cnpj {
		margin: 10px 30px;
	}
}

@media (min-width: 744px) {
	.form{
		width: 80vw;
	}

	label {
		margin-left: 40px;
	}
}
