.container {
	display: block;
}

.main-title{
	text-align: center;
}

.div-form-login {
	display: block;
	margin: 0 auto;
	max-width: 700px;
	padding-top: 30px;
	width: 80vw;
}

.form-login {
	display: block;
	margin: 0 auto;
	width: 80vw;
}

label {
	color: var(--color-white);
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

.input {
	max-width: 550px;
	text-align: left;
	width: 70vw;
}
