.pattern_button {
	background-color: var(--color-purple);
	border: 1px solid var(--color-purple-border-button);
	border-radius: 10px;
	box-shadow: 2px 2px var(--color-purple);
	color: var(--color-white);
	cursor: pointer;
	display: block;
	font-size: 1.8rem;
	font-weight: bolder;
	margin: 20px 0;
	padding: 10px 22px;
	text-align: center;
	width: 10rem;
}
