.div-main-header-register-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-title {
	order: 0;
}

.h2-register,
form {
	color: var(--color-white);
	font-family: 'Open Sans', sans-serif;
	order: 1;
}

.h2-register {
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 600;
	padding: 15px 0 30px;
}

.logo-header {
	max-width: 120px;
	padding: 10px;
	width: 30%;
	background-color: var(--color-white);
	border-radius: 300px;
}

form {
	display: block;
	margin: 0 auto;
	width: 85vw;
}

.data-info-contact {
	margin-top: 20px;
}

.form-register {
	display: block;
	margin: 0 auto;
	width: 90vw;
}

label,
.div-type-radio {
	font-size: 1.6rem;
	font-weight: 600;
	padding: 10px 0;
	margin: 10px 0;
}

.input {
	display: block;
	margin: 15px 0 30px;
	max-width: 940px;
	width: 87vw;
}

.categories-select {
	width: 85vw;
}

.div-type-radio,
.div-type-radio label {
	font-size: 1.5rem;
}

.div-type-radio {
	display: block;
	margin: 0 auto;
	width: 80vw;
}

.input-radio {
	display: none;
}

.div-button-type-radio {
	display: inline-flex;
}

.div-button-type-radio .input-radio + label:before {
	background-color: var(--color-white);
	border: 1px solid var(--color-orange-border);
	box-sizing: border-box;
	box-shadow: 2px 3px var(--color-orange-border);
	border-radius: 50%;
	content: "";
	height: 100px;
	margin-right: 32px;
	width: 100px;
}

.div-button-type-radio .input-radio:checked + label:before {
	background-color: var(--color-purple);
	box-sizing: border-box;
	border: 3px solid var(--color-white);
}

.div-company-category {
	position: relative;
	display: flex;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: 0;
}

select::-ms-expand {
	display: none;
}

select:after {
	content: '\25bc';
}

option {
	font-size: 1.3rem;
}
