:root {
  font-family: 'Cabin Sketch', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var( --color-white );
  font-size: 5rem;
  margin: 20px;
}
